{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        no.cjohansen/replicant {:mvn/version "2026.06.2"}
        thheller/shadow-cljs {:mvn/version "3.4.11"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     no.cjohansen/lookup {:mvn/version "2025.04.12"}}}}}
